<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update list</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        body{
            background-color: blueviolet;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="todo-container">
        <h1>Edit Task</h1>
    <form action="todo_update" method="POST">
        {% csrf_token %}
        <textarea name="todoarea" id="" placeholder="enter the topic">
            {{data.sub}}
        </textarea>
        <button type="submit">Add</button>
    </form>
    </div>
</body>
</html>